/************************************************
	Developed By: Z1FlexibleSolution.com
	Developed On: 10 / December / 2020
************************************************/

:root {
    --text-red-color: #ED1F24;
    --text-white-color1: #9692A0;
    --text-white-color2: #C8C8DA;
    --text-black-color1: #1a0d00;
    --text-black-color2: #C8C8DA;
}

html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-tap-highlight-color: transparent;
}

body {
    line-height: 26px;
}

ul {
    padding-left: 1rem;
}

.page-header {
    background-size: cover;
    line-height: 20px;
}

.page-header i {
    float: left;
    font-size: 30px;
    color: var(--text-red-color);
    margin-top: 3px;
    margin-right: 15px;
}

@supports ((backdrop-filter: blur(20px)) 
or (-webkit-backdrop-filter: blur(20px))) {
	
    .primary-menu-wrapper {
        -webkit-backdrop-filter: saturate(100%) blur(20px);
        backdrop-filter: saturate(100%) blur(20px);
    }
}

#toggle_menu {
    font-size: 20px;
    color: white;
    text-decoration: none;
}

#toggle_menu i {
    transform: scale(1.5);
}

.primary-menu-wrapper ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.primary-menu-wrapper .container > ul {
    display: none;
}

.primary-menu-wrapper .container > ul > li {
    display: block;
}

.primary-menu-wrapper .container > ul > li > a {
    font-family: "Raleway";
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    padding: 20px;
    line-height: 20px;
    zoom: 1;
    display: block;
}

.primary-menu-wrapper .container > ul > li > a:hover ,
.primary-menu-wrapper .container > ul > li.current-menu-item > a {
    color: var(--text-red-color);
}

.carousel-item {
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 550px;
}

.carousel-item::before {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.3);
}

.carousel-caption  {
    font-family: Raleway;
    bottom: 35%;
}

.carousel-caption .carousel-title {
    font-weight: 700;
    font-size: 40px;
}

.carousel-caption .carousel-subtitle {
    font-weight: 500;
    font-size: 14px;
}

.homepage-services .card {
    height: 260px;
    overflow: hidden;
}

.homepage-services .card .card-img-overlay {
    top: 35%;
    -webkit-transition: all 1s cubic-bezier(.19,1,.22,1) 0ms;
    transition: all 1s cubic-bezier(.19,1,.22,1) 0ms;
}

.homepage-services .card .card-title {
    font-size: 26px;
    text-shadow: 0 0 1px black;
}

.homepage-services .card .card-text {
    font-size: 16px;
    text-shadow: 0 0 1px black;
    display: none;
}

.homepage-services .card .card-img {
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    transform: scale(1.15);
    -webkit-transition: all 1s cubic-bezier(.19,1,.22,1) 0ms;
    transition: all 1s cubic-bezier(.19,1,.22,1) 0ms;
}

.homepage-services .card:hover .card-img {
    -webkit-transform: scale(1.0);
    -moz-transform: scale(1.0);
    transform: scale(1.0);
}

.homepage-services .card:hover .card-text {
    display: block;
}

.homepage-services .card:hover .card-img-overlay {
    top: 30%;
}

footer {
    color: var(--text-white-color1);
}

.zoom-img {
    width: 100%;
    height: auto;
}

.zoom-img:hover {
    position: fixed;
    width: auto;
    max-width: 100%;
    height: 100%;
    object-fit: contain;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1022;
}

.zoom-img:hover + .zoom-img-backdrop {
    opacity: 1;
    bottom: 0%;
}

.zoom-img-backdrop {
    opacity: 0;
    transition: opacity 0.3s;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 100%;
    background: rgba(255, 255, 255, 0.9);
    z-index: 1021;
}

#zt-logo img { visibility: hidden; }

@media (prefers-color-scheme: light) {

	body {
		background-color: white;
		color: black;
    }
        
    .page-header {
        background-image: url(../images/header-bg-light.jpg);
        color: var(--bs-dark);
    }

    #zt-logo { 
        background-image: url(../images/logo-zillion-trust-plc-dark.png);
        background-repeat: no-repeat;
        background-size: contain;
    }

    .primary-menu-wrapper {
        background-color: rgba(227,228,212,0.95);
        border-top: 1px solid #cfd0be;
        border-bottom: 1px solid #cfd0be;
    }

    .primary-menu-wrapper .container > ul > li > a {
        color: var(--bs-dark);
        border-top: 1px dashed #bdbeac;
        border-right-color: #bdbeac !important;
    }

    .primary-menu-wrapper #sm-logo {
        background-image: url(../images/logo-zillion-trust-plc-dark.png);
        background-repeat: no-repeat;
        background-size: contain;
    }

    .primary-menu-wrapper #sm-logo img {
        visibility: hidden;
    }

    .primary-menu-wrapper #toggle_menu {
        color: var(--bs-dark);
    }

    footer {
        color: var(--bs-dark);
    }

}

@media (prefers-color-scheme: dark) {
	
	body {
		background-color: black;
		color: white;
    }
        
    .page-header {
        background-image: url(../images/header-bg-dark.jpg);
        color: var(--text-white-color1);
    }

    #zt-logo { 
        background-image: url(../images/logo-zillion-trust-plc-light.png);
        background-repeat: no-repeat;
        background-size: contain;
    }

    .primary-menu-wrapper {
        background-color: rgba(27,26,42,0.95);
        border-top: 1px solid #38374d;
    }

    .primary-menu-wrapper .container > ul > li > a {
        color: var(--text-white-color2);
        border-top: 1px dashed rgba(255, 255, 255, 0.4);
    }

}

@media (min-width: 576px) {  /* SM */

    #zt-logo img { height: 50px; }

    .primary-menu-wrapper .container > ul {
        display: block;
    }

    .primary-menu-wrapper .container > ul > li {
        display: inline-block;
        padding: 20px 0;
    }

    .primary-menu-wrapper .container > ul > li > a {
        border-top: none;
        border-right: 1px dashed rgba(255, 255, 255, 0.4);
        display: block;
        padding: 0 20px;
    }

    .primary-menu-wrapper .container > ul > li:last-child > a {
        border-right: none;
    }

}

@media (min-width: 768px) { /* MD */
    
    .carousel-caption .carousel-title {
        font-size: 65px;
    }

    .carousel-caption .carousel-subtitle {
        font-size: 20px;
    }
}

@media (min-width: 992px) {  /* LG */

    #zt-logo img { height: 100px; }
    
    .homepage-services .card {
        height: 200px;
    }

}

@media (min-width: 1200px) { /* XL */ 

    ::-webkit-scrollbar {
        width: 12px;
    }
    
    ::-webkit-scrollbar-track {
        background: black; 
        border-radius: 10px;
    }
    
    ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: var(--text-red-color); 
    }
}

@media (min-width: 1400px) { /* XXL */

    #zt-logo img { height: 75px; }
    
    .homepage-services .card {
        height: 260px;
    }

}